body {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-color: #313131;
}

nav {
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.nav-links li a {
    text-decoration: none;
    color: #707070;
}

.first-image {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/სლაიდერი3.jpg);
}

.title {
    justify-content: flex-start;
    font-size: 40px;
    font-family: AR Archy;
    font-weight: 900;
    padding: 5% 0;
    color: #707070;
}

.container {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    align-items: center;
 
}

.container-box {
    width: 350px;
    height: 50vh;
    border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #707070;
    font-family: AR Archy;
}

.container-box img{
    width: 100%;
}


.container-box h3 {
    font-size: 30px;
    font-weight: bold;
}

.container-box p {
    font-size: 18px;
    font-weight: 600;
}

.container-box a {
    text-align: right;
    color: #707070;
    font-family: sans-serif;
    text-decoration: none;
}

