body {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: AR Archy;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.first-line, .second-line, .third-line {
    width: 30px;
    height: 5px;
    background-color: #000;
    margin: 5px;
}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

#text-change {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.nav-links li a {
    text-decoration: none;
    color: #707070;
    /* display: none; */
}

.first-image {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/სლაიდერი3.jpg);
}

.title {
    justify-content: flex-start;
    font-size: 40px;
    font-family: AR Archy;
    font-weight: 900;
    padding: 5% 0;
    color: #707070;
}

.container {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-box {
    width: 350px;
    height: 350px;
    border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #707070;
    font-family: AR Archy;
}

.container-box img{
    width: 100%;
}


.container-box h3 {
    align-self: flex-start;
    font-size: 30px;
    font-weight: bold;
}

.container-box p {
    font-size: 18px;
    font-weight: 600;
}

.container-box a {
    align-self: flex-end;
    color: #707070;
    font-family: sans-serif;
    text-decoration: none;
}

.load-more a{
    height: 20vh;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #707070;
}


.main-footer-contant {
    height: 20vh;
    display: flex;
    margin-top: 5%;
    background-color: #2E2E2E;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    flex-wrap: wrap;
}

.footer-contact h5, .footer-address h5 {
    font-size: 20px;
}

@media only screen and (max-width:767px) {
    .nav-links {
        display: none;
    }
    
    .container-box {
        margin: 5% auto;
    }
    
    .main-footer-contant {
        height: 50vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .footer-address {
        order: 1;
        text-align: center;
    }
    .footer-contact {
        order: 2;
    }
    
    .footer-social-networks {
        order: 3;
    }
    
    #remove-logo {
        display: none;
    }
    
    .hamburger {
        display: block;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}




